﻿@using KulturASWidget.Resources
@model KulturASWidget.Models.Widget.EventTicketDetailModel
@{    
    Html.SetHeaderType(HeaderType.NoHeader);
    Html.SetFooterType(FooterType.NoFooter);
    ViewBag.NoFeedback = true;
}
<script>
    $(function () {

        $("#BuyTicketBtn").click(function () {
            if ($(this).val().toString() == "ticketLayouts") {
                if ($(".ticketselector").val() != '0') {
                    $("#ticketCountValidation").parent().addClass("valid");
                    $("#ticketLayouts").hide();
                    $("#userInfo").show();
                    $(this).val("userInfo");
                }
                else {
                    $("#ticketCountValidation").find("span").html("En az bir bilet seçmelisiniz");
                    $("#ticketCountValidation").parent().removeClass("valid");
                }
            } else if ($(this).val().toString() == "userInfo") {
                $("#TicketBuyForm").submit();
            }

        });

        var selectedLayout = null;

        $(".ticketselector").each(function (index, item) {
            $(item).change(function () {
                if (item != selectedLayout) {
                    $(selectedLayout).val("0");
                }
                selectedLayout = item;
            });
        });

        $(".ticketselector").change(function () {
            if ($(this).attr("price") == "Ücretsiz") {
                $("#display_" + $(this).attr("layID")).text("0 TL");
                var layID = ($(this).attr("layID"));
                $("#totalSum").text("0 TL");
                $("td[id^=display]").each(function () {
                    if (layID != $(this).attr("layID")) {
                        $(this).text("0 TL");
                    }
                });
            }
            else {
                var toplam = parseFloat(($(this).val() * $(this).attr("price"))).toFixed(2);
                $("#display_" + $(this).attr("layID")).text(toplam.toString());
                $("#totalSum").text(toplam.toString());
                var layID = ($(this).attr("layID"));
                $("td[id^=display]").each(function () {
                    if (layID != $(this).attr("layID")) {
                        $(this).text("0 TL");
                    }
                });
            }
        });
    });
</script>
<div class="well whiteSmoke" style="min-width: 441px; margin: 0 auto; box-shadow: 0 0px 10px rgba(19, 19, 19, .3);">
<div class="validation_message valid">
        <div class="alert alert-error" style="height: 20px;">
            <p>
                @Html.ValidationMessageFor(m => m.conditionsAgree)</p>
        </div>
    </div>
    <div class="validation_message valid">
        <div class="alert alert-error" id="ticketCountValidation" style="height: 20px;">
            <p>
                @Html.ValidationMessageFor(m => m.ticketCount)</p>
        </div>
    </div>
    <div class="validation_message valid">
        <div class="alert alert-error" style="height: 20px;">
            <p>
                @Html.ValidationMessageFor(m => m.AttendeeName)</p>
        </div>
    </div>
    <div class="validation_message valid">
        <div class="alert alert-error" style="height: 20px;">
            <p>
                @Html.ValidationMessageFor(m => m.AttendeeMail)</p>
        </div>
    </div>
    <div class="validation_message valid">
        <div class="alert alert-error" style="height: 20px;">
            <p>
                @Html.ValidationMessageFor(m => m.AttendeeGSM)</p>
        </div>
    </div>
    <div class="row-fluid" style="margin-left: 20px;">
        <div class="span12">
            <label class="text-info" style="font-size: 16px;">
                @Model.EventName
            </label>
        </div>
    </div>
    @using (Html.BeginForm("MainWidget", "Home", FormMethod.Post, new { @id = "TicketBuyForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row-fluid" style="background-color: White; min-width: 441px;">
            <div class="span12" style="margin-left: 20px;">
                <br>
                <div class="row-fluid" style="min-width: 300px;">
                    <div class="span2" style="width: 80px;">
                        <div class="row-fluid" style="background-color: Red;">
                            <div class="span12">
                                <label class="centered-text" style="color: white; font-size: 16px; margin-top: 5px;">
                                    @Model.EventMonth</label>
                            </div>
                        </div>
                        <div class="row-fluid whiteSmoke">
                            <div class="span12" style="height: 65px;">
                                <label class="centered-text" style="font-size: 275%; margin-top: 20px;">
                                    @Model.EventDay</label>
                            </div>
                        </div>
                    </div>
                    <div class="span10" style="width: 160px;">
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="text-info" style="font-size: 14px;">
                                    @Model.EventName
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="normal">
                                    @Model.EventDate
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="normal">
                                    @Model.EventAdress
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div id="ticketLayouts" style="display: block;">
                    <table class="table normal" style="width: 95%;">
                        <thead>
                            <tr>
                                <th style="width: 65%;">
                                    Bilet Kategorisi
                                </th>
                                <th style="width: 20%;">
                                    Ücreti
                                </th>
                                <th style="text-align: center;">
                                    Adet
                                </th>
                            </tr>
                        </thead>
                        @{var layoutList = Model.EventLayouts;}
                        @foreach (var layoutObj in layoutList)
                        {

                            <tbody>
                                <tr>
                                    <td>
                                        <label>
                                            @layoutObj.LayoutName
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            @layoutObj.LayoutPrice TL</label>
                                    </td>
                                    @if (layoutObj.StartSaleDate > ViewBag.TurkeyNow)
                                    {
                                        <label class="normal text-info">
                                            Bu Biletin Satışları Başlamamıştır!</label>
                                    }
                                    else if (layoutObj.EndSaleDate < ViewBag.TurkeyNow)
                                    {
                                        <label class="normal text-info">
                                            Bu Bilet Satışa Kapanmıştır!</label>
                                    }
                                    else
                                    {
                                        <td style="text-align: center;">
                                            <select class="ticketselector" name="ticketCount">
                                                @{int maxTicketCount = Convert.ToInt32(layoutObj.LayoutMaxTicketCount);}
                                                @for (int i = 0; i <= 100; i++)
                                                {
                                                    <option>@i</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                </tr>
                            </tbody>
               
                        }
                    </table>
                </div>
                <div id="userInfo" style="display: none;">
                    <label class="text-info" style="font-size: 14px; margin-left: 10px;">
                        @Resource1.AttendanceInfo
                    </label>
                    <div class="row-fluid" style="margin-left: 10px;">
                        <div class="span2">
                            <label class="mini-top-margin normal pull-left">
                                @PageResources.UserFullName
                            </label>
                        </div>
                        <div class="span6">
                            @Html.TextBoxFor(model => model.AttendeeName, new { @class = "short-text fill" })
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-left: 10px;">
                        <div class="span2">
                            <label class="mini-top-margin normal pull-left">
                                @PageResources.EmailAddress
                            </label>
                        </div>
                        <div class="span6">
                            @Html.TextBoxFor(model => model.AttendeeMail, new { @class = "short-text fill" })
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-left: 10px;">
                        <div class="span2">
                            <label class="mini-top-margin normal pull-left">
                                @PageResources.UserCellPlaceholder
                            </label>
                        </div>
                        <div class="span6">
                            @Html.TextBoxFor(model => model.AttendeeGSM, new { @class = "short-text fill" })
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-left: 10px;">
                        <div class="span6">
                            <label class="checkbox normal">
                                <input name="conditionsAgree" value="true" type="checkbox">@Resource1.CreateEventConfirmAgree
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <br>
    <div class="row-fluid">
        <div class="span12">
            <button id="BuyTicketBtn" class="btn btn-info pull-right" style="width: 187px;" value="ticketLayouts">
                @Resource1.BuyTicket</button>
        </div>
    </div>
</div>
