﻿@using KulturASWidget.Resources;
@{
    ViewBag.Title = "EventSendReservation";
    ViewBag.NoFeedback = true;
    Html.SetFooterType(FooterType.NoFooter);
    Html.SetHeaderType(HeaderType.NoHeader);
    string widgetURL = ViewBag.GoBackURL;
}
<div class=" container-small payment_approve" style="padding-bottom: 50px; max-width: 643px;">
    <div class="row">
        <div class="">
            <div class="row-fluid" style="">
                <div class="span12 well" style="margin-left: 10px">
                    <div class="">
                        <div>
                            <div style="">
                                <img src="@String.Format("{0}{1}", KulturASWidget.Common.ApplicationConfiguration.ImagesUrlPath, "/images/tick.png")">
                            </div>
                            <div style="">
                                <label class="x-large pull-left message large-top-margin" style="">
                                    @Resource1.SentMessage
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="">
                                <a href="@widgetURL">
                                    <label class="centered-text">
                                        @Resource2.ClickToBuyAgain
                                    </label>
                                </a>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="">
                                <label class="small centered-text">
                                    @Resource1.ToGetSupport<br />
                                    <label class="small centered-text">
                                        @Resource1.TaglonPhoneNumber</label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
