﻿@using KulturASWidget.Resources
@using Garanti3DRequest = KulturASWidget.Models.Garanti.Garanti3DRequest;
@{    
    Html.SetHeaderType(HeaderType.NoHeader);
    Html.SetFooterType(FooterType.NoFooter);
    Garanti3DRequest request = ViewBag.Garanti3DRequest;
    ViewBag.NoFeedback = true;
    String message = ViewBag.Message;
}
<script>
                        $(function () { 
                            var secureURL = "@KulturASWidget.Common.ApplicationConfiguration.Garanti3DSecureURL";
                            var normalURL = "@Url.Action("DirectPayment", "Home")";

                            $("#paymentMethod").change(function(){
                                if($("#paymentMethod").is(':checked'))
                                {
                                    $("#creditForm").attr("action",secureURL);
                                }
                                else
                                {
                                    $("#creditForm").attr("action",normalURL);
                                }

                            });
                        })
</script>
<div class="well whiteSmoke" style="margin: 0 auto; box-shadow: 0 0px 10px rgba(19, 19, 19, .3);
    margin-left: -10px;">
    @*  <label class="text-info" style="font-size: 14px; margin-left: 10px;">
        @Resource1.PaymentOptions</label>
    <br>
   <select style="margin-left: 10px;">
        <option>@Resource1.CreditCard</option>
        <option>Paypal</option>
    </select>*@
    <br />
    @if (message != null)
    {
        
        <div class="alert alert-error">
            @message
        </div>
    }
    <form id="creditForm"method="post" action="@Url.Action("DirectPayment", "Home")">
    <input type="hidden" name="secure3dsecuritylevel" value="3D" />
    <input type="hidden" name="mode" value="@request.Mode"/>
    <input type="hidden" name="apiversion" value="@request.ApiVersion"/>
    <input type="hidden" name="terminalprovuserid" value="@request.TerminalProvUserID"/>
    <input type="hidden" name="terminaluserid" value="@request.TerminalUserID"/>
    <input type="hidden" name="terminalmerchantid" value="@request.TerminalMerchantID"/>
    <input type="hidden" name="txntype" value="@request.Type"/>
    <input type="hidden" name="txnamount" value="@request.Amount"/>
    <input type="hidden" name="txncurrencycode" value="@request.CurrencyCode"/>
    <input type="hidden" name="txninstallmentcount" value="@request.InstallmentCount"/>
    <input type="hidden" name="orderid" value="@request.OrderID"/>
    <input type="hidden" name="terminalid" value="@request.TerminalID"/>
    <input type="hidden" name="successurl" value="@request.SuccessURL"/>
    <input type="hidden" name="errorurl" value="@request.ErrorURL"/>
    <input type="hidden" name="customeremailaddress" value="@request.customeremailaddress"/>
    <input type="hidden" name="customeripaddress" value="@request.Customeripaddress"/>
    <input type="hidden" name="secure3dhash" value="@request.HashData"/>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
            <label class="normal pull-left mini-top-margin">
                @PageResources.UserFullName</label>
        </div>
        <div class="span6">
            <input type="text" name="cardOwner" class="short-text fill" autocomplete="OFF" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
            <label class="normal pull-left mini-top-margin">
                @Resource1.CreditCardNumber</label>
        </div>
        <div class="span6">
            <input type="text" name="cardnumber" class="short-text fill" autocomplete="OFF" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
            <label class="normal pull-left mini-top-margin">
                @Resource1.ExpirationDate</label>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span4">
                    <select class="month_select" name="cardexpiredatemonth" style="width: 60px;">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@(i.ToString().PadLeft(2, '0'))">@i</option>
                        }
                    </select>
                </div>
                @{
                    int year = DateTime.UtcNow.Year;
                }
                <div class="span4">
                    <select class="year_select" name="cardexpiredateyear" style="width: 75px;">
                        @for (int i = 0; i < 25; i++)
                        {
                            
                            <option value="@((year + i) % 2000)">@(year + i)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
            <label class="normal pull-left mini-top-margin">
                @Resource1.CVC2Number</label>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span5">
                    <input type="text" name="cardcvv2" class="short-text fill" autocomplete="OFF" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
            <label class="normal pull-left mini-top-margin">
                @Resource1.CreditCard3DSecure</label>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span7">
                    <div class="row-fluid mini-top-margin">
                        <label class="checkbox use_3dsecure_lbl">
                            <input type="checkbox" name="" id="paymentMethod">
                            <b>@Resource1.UseSecure</b></label><br />
                        @*                        <div class="span6" style="">
                            <label class="radio">
                                <input type="radio" name="3dsecure">Evet</label>
                        </div>
                        <div class="span6" style="">
                            <label class="radio">
                                <input type="radio" name="3dsecure">Hayır</label>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span3">
        </div>
    </div>
</div>
</div>
<br>
<div class="row-fluid" style="margin-top: -60px;">
    <div class="span9">
        <label class="normal">
            @Html.Raw(Resource1.poweredBy)
        </label>
    </div>
    <div class="span3">
        <button class="btn btn-info pull-right" style="width: 100%; margin-right: 10px;">
            @Resource1.BuyTicket</button>
    </div>
</div>
</form> </div> 