body {overflow-y:auto;}
.validation_name {margin-top:1px; right:-240px;}
.inner_top .user .user_expand {left:0;}
.inner_top .user .user_expand a {cursor:pointer;}
.inner_footer .main_links .block {margin-right:30px;}
.inner_footer .main_links .b4 {margin-right:0;}
.inner_footer .main_links .b5 .apps a {margin-right:5px; cursor:pointer;}
.inner_footer .main_links .b5 {width:245px; margin-right:0;}

.create_event_b, .create_event_map {padding-bottom:20px;}

.event_header_area  {z-index:3; position:relative;}
.main_event_detail_content {z-index:2; position:relative;}
.footer_like {z-index:1; position:relative;}
.forgot_password_page .form_box {width:564px;}
.forgot_password_button button {padding-left:3px; padding-right:3px;}

.content_404 {overflow-y:hidden;}
.inner_content_404 {}

.blue_button button {line-height:20px;}
.green_button button {line-height:33px;}
.small_blue_button button {line-height:25px;}

.inner_account_content .not_found .circle span {cursor:pointer; margin-top:50px;}

.after_event_buy_content .ticket_send_selector .buttons .active {padding-top:23px;}

.form_box .one_row_form input {width:268px;}

.form_box .checkbox_block input {left:-1px; top:-3px;}