@CHARSET "UTF-8";
.sbHolder{
	background:url('../images/select_bg.png') repeat-x bottom left; border:1px solid #b3b3b3;
	font-family: Helvetiva, sans-serif; border-radius:4px;
	font-size: 12px;
	font-weight: normal;
	height: 34px;
	position: relative;
	width:90px;
	outline:none;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
    display: block;
    height: 34px;
    left: 0;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 2px;
    width: 90px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: #4d4d4d;
    font-weight:700;
    outline: none;
    text-decoration: none;
}
.sbToggle{
    background:url('../images/select_arrow.png') no-repeat 11px 14px;
    display: block;
    height: 34px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.sbHolderDisabled{
    background-color: #3C3C3C;
    border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
    background-color: #FFF;
    border: solid 1px #b3b3b3;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 90px;
    z-index: 1;
    overflow-y: auto;
    outline:none;

}
.sbOptions li{
    padding: 0 7px;
}
.sbOptions a{
    border-bottom: dotted 1px #CCC;
    display: block;
    outline: none;
    padding: 4px 0 4px 4px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #4d4d4d;
	text-decoration: none;
	outline:none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #000;
	outline:none;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}