@font-face
{
font-family: sister;
src: url('../../Static/themes/mytupi.ttf');
}
body
{
    /*'lucida grande',tahoma,verdana,arial,sans-serif;(facebook font)*/
	background-color: White;
	color: #707070;
	*font-family :sister;
	font-family: Arial;
	font-size: 13px;
	height: 100%;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.btn
{
	border-radius: 0px;
	*box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.dropdown-menu
{
	border-radius: 0px;
	top: 90%;
}
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25))
{
	box-shadow: @shadow;
	moz-box-shadow: @shadow;
	webkit-box-shadow: @shadow;
}
.container
{
	font-size: 12px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 400px;
	padding-top:25px;
	zoom: 1;
}
.container-small
{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 400px;
	padding-top: 50px;
	zoom: 1;
}
input.search-query
{
	border-radius: 0px;
	margin-bottom: 0;
	margin-top: 10px;
	moz-border-radius: 0px;
	padding-left: 14px;
	padding-left: 4px \9;
	padding-right: 14px;
	padding-right: 4px \9;
	webkit-border-radius: 0px;
}
.table .span13
{
	float: none;
	margin-left: 0;
	width: 1004px;
}
.table .span14
{
	float: none;
	margin-left: 0;
	width: 1084px;
}
.table .span15
{
	float: none;
	margin-left: 0;
	width: 1164px;
}
.table .span16
{
	float: none;
	margin-left: 0;
	width: 1244px;
}
.table .span17
{
	float: none;
	margin-left: 0;
	width: 1324px;
}
.table .span18
{
	float: none;
	margin-left: 0;
	width: 1404px;
}
.table .span19
{
	float: none;
	margin-left: 0;
	width: 1484px;
}
.table .span20
{
	float: none;
	margin-left: 0;
	width: 1564px;
}
.table .span21
{
	float: none;
	margin-left: 0;
	width: 1644px;
}
.table .span22
{
	float: none;
	margin-left: 0;
	width: 1724px;
}
.table .span23
{
	float: none;
	margin-left: 0;
	width: 1804px;
}
.table .span24
{
	float: none;
	margin-left: 0;
	width: 1884px;
}
.well
{
	background-color: White;
	border: 1px solid #e3e3e3;
	border-radius: 0px;
	*box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	margin-bottom: 20px;
	min-height: 20px;
	moz-border-radius: 0px;
	*moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	padding: 19px;
	webkit-border-radius: 0px;
	*webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}
.well .no-box-shadow
{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	min-height: 20px;
	moz-border-radius: 0px;
	moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 19px;
	webkit-border-radius: 0px;
	webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well .no-box-shadow-white
{
	background-color: White;
	border: 1px solid #e3e3e3;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	min-height: 20px;
	moz-border-radius: 0px;
	moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 19px;
	webkit-border-radius: 0px;
	webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.jumbotron .container
{
	position: relative;
	z-index: 2;
}
.jumbotron:after
{
	background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	opacity: .4;
	position: absolute;
	right: 0;
	top: 0;
}
.jumbotron
{
	background: #29457c;
	background-image: linear-gradient(to right, #29457c, #607eb8);
	background-image: -moz-linear-gradient(left, #29457c, #607eb8);
	background-image: -ms-linear-gradient(left, #29457c, #607eb8);
	background-image: -o-linear-gradient(left, #29457c, #607eb8);
	background-image: -webkit-linear-gradient(left, #29457c, #607eb8);
	color: #fff;
	padding: 80px 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}
.jumbotron h1
{
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p
{
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}
div.DTTT .btn
{
	color: #333 !important;
	font-size: 12px;
}
div.DTTT .btn:hover
{
	text-decoration: none !important;
}
.jumbotron a
{
	color: #fff;
	color: rgba(255,255,255,.5);
	moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
}
.jumbotron a:hover
{
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.subhead
{
	border-bottom: 1px solid #ddd;
	text-align: left;
}
.subhead h1
{
	font-size: 60px;
}
.subhead p
{
	margin-bottom: 20px;
}
.subhead .navbar
{
	display: none;
}
.line form
{
	margin: 0;
}
.line input[type=text]
{
	width: 177px;
}
.line select
{
	width: 189px;
}
.line button
{
	width: 92px;
}
.line button.first
{
	margin-right: 4px;
}
div.dataTables_length label
{
	float: left;
	text-align: left;
}
div.dataTables_length select
{
	width: 75px;
}
div.dataTables_filter label
{
	float: right;
}
div.dataTables_info
{
	padding-top: 8px;
}
div.dataTables_paginate
{
	float: right;
	margin: 0;
}
table.table
{
	border-radius: 0px;
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled
{
	cursor: hand;
	cursor: pointer;
}
table.table thead .sorting
{
	background: url('../../Static/images/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc
{
	background: url('../../Static/images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc
{
	background: url('../../Static/images/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled
{
	background: url('../../Static/images/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled
{
	background: url('../../Static/images/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable th:active
{
	outline: none;
}
div.dataTables_scrollHead table
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0 !important;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child
{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table
{
	border-top: none;
	margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td
{
	border-top: none;
}
div.dataTables_scrollFoot table
{
	border-top: none;
}
.table tbody tr.active td,
.table tbody tr.active th
{
	background-color: #08C;
	color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th
{
	background-color: #0075b0 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th
{
	background-color: #017ebc;
}
table.DTTT_selectable tbody tr
{
	cursor: hand;
	cursor: pointer;
}
ul.DTTT_dropdown.dropdown-menu a
{
	color: #333 !important;
}
ul.DTTT_dropdown.dropdown-menu li:hover a
{
	background-color: #0088cc;
	color: white !important;
}
div.DTTT_print_info.modal
{
	height: 150px;
	margin-top: -75px;
	text-align: center;
}
div.DTTT_print_info h6
{
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	margin: 1em;
}
div.DTTT_print_info p
{
	font-size: 14px;
	line-height: 20px;
}
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even
{
	background-color: white;
}
div.DTFC_LeftHeadWrapper table
{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
	margin-bottom: 0 !important;
}
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child
{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftBodyWrapper table
{
	border-top: none;
	margin-bottom: 0 !important;
}
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td
{
	border-top: none;
}
div.DTFC_LeftFootWrapper table
{
	border-top: none;
}
.abso
{
}
textarea
{
	border-radius: 0px;
	resize: none;
}
.adminRichText
{
	width: 462px;
}
.footer
{
	background-color: Black;
	border-radius: 0px;
	bottom: 0;
	color: #f2f2f2;
	height: auto;
	left: 0;
	margin: 0 auto;
	margin-top: -3em;
	right: 0;
	width: 100%;
	z-index: 10;
}
.footer-big
{
	background-color: Black;
	border-radius: 0px;
	bottom: 0;
	height: auto;
	left: 0;
	margin: 0 auto;
	margin-top: -3em;
	right: 0;
	z-index: 10;
}
.footer-outer
{
	background-color: Black;
	bottom: 0;
	height: 90px;
	position: absolute;
	width: 100%;
}
.footer-outer-big
{
	background-color: Black;
	bottom: 0;
	color: #f2f2f2;
	height: 398px;
	position: absolute;
	width: 100%;
}
.footer-big .inner-big
{
	background-color: Black;
	border-radius: 0px;
	color: #f2f2f2;
	height: 60px;
	margin-bottom: 308px;
	padding-top: 30px;
	position: absolute;
	width: 940px;
}
.footer .inner
{
	border-radius: 0px;
	color: #f2f2f2;
	height: 60px;
	padding-top: 30px;
	position: absolute;
	width: 940px;
}
html, body, .wrap
{
	height: 100%;
}
body > .wrap
{
	height: auto;
	min-height: 100%;
	position: relative;
}
#body
{
	padding-bottom: 60px;
}
#body-main-page
{
	*margin-top: -28px;
	padding-bottom: 570px;
}
.text
{
	border-radius: 0px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}
.badge
{
	border-radius: 0px;
}
.navbar .btn-group .btn
{
	border-radius: 0px;
}
input[type="text"]
{
	border-radius: 0px;
}
.select-short
{
	*height: 24px;
}
.opac:hover
{
	opacity: .7;
}
.whiteSmoke
{
	background-color: whiteSmoke;
}
.normal
{
	font-size: 12px;
}
.large
{
	font-size: 15px;
}
.x-large
{
	font-size: 18px;
}
.fill
{
	width: 100%;
}
.small
{
	font-size: 11px;
}
.short-text
{
	height: 15px !important;
}
.centered-text
{
	text-align: center;
}
.white
{
	background-color: White;
}
.fixed
{
	position: fixed;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-inner
{
	padding-top: 0;
}
.navbar-inner-formain
{
	background-color: White;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	min-height: 40px;
	moz-border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
	webkit-border-radius: 4px;
	zoom: 1;
}
.clear-box-shadow
{
	box-shadow: none;
}
.btn-primary
{
	*background: #0071BC;
	*background-color: #0071BC;
}
.btn-danger
{
	*background: #DB4B44;
}
.btn-white
{
	*background: white;
}
.btn-success
{
	*background-color: #cece00;
}
.special-box-shadow
{
	box-shadow: 0 0 5px #888;
	moz-box-shadow: 0 0 5px #888;
	webkit-box-shadow: 0 0 5px#888;
}
.clear-border
{
	border: none;
}
.event_social_buttons
{
	margin-top: 10px;
}
.inner_event_social_buttons
{
	padding-bottom: 20px;
}
.inner_event_social_buttons .item
{
	float: left;
	margin-right: 25px;
}
.facebook_comment
{
	margin-top: 20px;
	width: 576px;
}
.white-text
{
	color: White;
}
.white-text:hover
{
	color: White;
}
.close-hr
{
	margin-bottom: 5px;
	margin-top: 5px;
}
.mini-top-margin
{
	margin-top: 5px;
}
.small-top-margin
{
	margin-top: 8px;
}
.medium-top-margin
{
	margin-top: 10px;
}
.large-top-margin
{
	margin-top: 15px;
}
.x-large-top-margin
{
	margin-top: 20px;
}
.text-info
{
	color: #0071BC;
}
.parag
{
	line-height: 170%;
	padding-bottom: 20px;
}
.gmap
{
	border-radius: 0px;
	height: 186px;
	width: 438px;
}
.big-footer-text-normal
{
	color: White;
	font-size: 15px;
}
.big-footer-text-normal:hover
{
	color: White;
}
.big-footer-text-small
{
	color: White;
	font-size: 12px;
}
.big-footer-text-small:hover
{
	color: White;
}
.big-footer-text-mini
{
	color: White;
	font-size: 10px;
}
.big-footer-text-mini:hover
{
	color: White;
}
.icon
{
	height: 35px;
	width: 35px;
}
.main-container
{
	height: 480;
	margin: 0 auto;
	margin-top: 50px;
	width: 640px;
}
label
{
	cursor: auto;
	font-size:12px;
}
.validation_message.valid
{
	display: none;
}
.btn-facebook
{
	background: #133783;
}
.bold
{
	font-weight: bold;
}
.btn-mainpage
{
	*background: #009900;
	margin-top: 177px;
    float: right; 
    margin-right: 46px; 
    width: 210px; 
    color: White;
    text-shadow:0px 2px 0 rgba(0, 0, 0, .95);
}
.pointer
{
	cursor: pointer;
}
.event_create
{
	padding-bottom: 85px;
}
.event_create .p
{
	font-size: 24px;
}
.event_create .i
{
	margin-top: 3px;
	position: absolute;
}
.event_create .step_header
{
	font-size: large;
	padding-left: 20px;
}
.event_create .step_badge
{
	margin-left: 400px;
}
.event_create .event_name_txt
{
	width: 620px;
}
.event_create .event_url_txt
{
	width: 469px;
}
.event_create .event_detail
{
	height: 200px;
	width: 94%;
}
.event_create .hour_picker
{
	width: 90px;
}
.event_create .map_row
{
	margin-left: 5%;
}
.event_create .map_area
{
	background-color: Gray;
	height: 300px;
}
.event_create .ticket_detail_btn
{
	margin-top: 23px;
}
.event_create .step_participant_img
{
	height: 18px;
	position: absolute;
	width: 15px;
}
.event_create .i_remove_question
{
	margin-right: -10px;
	margin-top: -10px;
}
.event_create .add_answer_span
{
	margin-left: -25px;
}
.event_create .privacyContainer
{
    min-height: 105px;
}
.user_tickets
{
	padding-bottom: 50px;
}
.user_tickets .header_tickets
{
	font-size: 24px;
	margin-top :20px;
}
.user_tickets .user_tickets_inner
{
	margin-bottom: 40px;
	margin-top: 40px;
	min-height: 300px;
}
.user_tickets .inner_row
{
	margin-left: 30px;
}
.user_tickets .td_div
{
	width: 120px;
}
.user_tickets .user_tickets_inner th
{
    border:0;
    font-weight:normal;
    text-align:center;    
}

.user_tickets .user_tickets_inner td:last-child
{
    border-right:1px solid #DDD;
      
}

.user_tickets .user_tickets_inner table
{
    border-top:0;
    border-right:0;
    font-weight:normal;
    text-align:center;    
}

.user_tickets .td_div_btn
{
	width: 130px;
}
.user_tickets .resend_target_inner
{
	padding-bottom: 20px;
	padding-left: 30px;
	padding-top: 20px;
}
.about .about_inner
{
	margin-left: 140px;
}
.about .header
{
	margin-top: 15px;
}
.about .about_btn
{
	margin-left: 208px;
	margin-top: 20px;
	width: 200px;
}
.about .about_hr
{
	margin-top: 0;
}
.about .about_well
{
	margin-left: 0px;
	margin-top: 10px;
}
.about .about_well_inner
{
	margin-top: 10px;
}
.about .select
{
	width: 215px;
}
.about .textarea
{
	width: 202px;
}
.about .contact_btn
{
	margin-top: 3px;
	width: 215px;
}
.about h4
{
    font-weight: 200;
    font-size: 14px;
}
input[type="text"],input[type="password"]
{
	border-radius: 0px;
	font-size: 13px;
	height: 15px;
}
select
{
    border-radius: 0px;
	font-size: 13px;
	height: 28px;
}
.alert-danger .alert-error
{
	border-radius: 0px;
}
.event_basic_info
{
	padding-top: 50px;
}
.event_basic_info .event_name
{
	width: auto;
}
.event_basic_info .i
{
	margin-top: 3px;
	position: absolute;
}
.event_basic_info .header
{
	font-size: large;
	padding-left: 20px;
}
.event_basic_info .detail_div
{
	width: auto;
}
.event_basic_info .cancel_eventdetail_btn
{
	width: 75px;
}
.event_basic_info .save_eventdetail_btn
{
	width: 90px;
}
.event_basic_info .cancel_eventspecial_btn
{
	width: 75px;
}
.event_basic_info .save_eventspecial_btn
{
	width: 90px;
}
.event_basic_info .hourpicker
{
	float: right;
	width: 90px;
}
.event_basic_info .cancel_eventdate_btn
{
	width: 75px;
}
.event_basic_info .save_eventdate_btn
{
	width: 90px;
}
.event_basic_info .cancel_eventtag_btn
{
	width: 75px;
}
.event_basic_info .save_eventtag_btn
{
	width: 90px;
}
.event_basic_info .i_question
{
	margin-left: 740px;
	margin-top: -10px;
	position: absolute;
}
.event_basic_info .add_answer_div
{
	margin-left: -25px;
}
.event_basic_info .cancel_eventquestion_btn
{
	width: 87px;
}
.event_basic_info .save_eventquestion_btn
{
	width: 100px;
}
.event_layouts
{
	padding-top: 50px;
}
.event_basic_info .auto_width
{
	width: auto;
}
.admin_event_name_cancel_btn
{
	height: 25px;
	margin-bottom: 4px;
	padding: 0;
	width: 60px;
}
.admin_event_name_save_btn
{
	height: 25px;
	margin-bottom: 4px;
	padding: 0;
	width: 100px;
}
.admin_event_name_link_edit
{
	margin-top: 3px;
}
.event_layouts .event_layouts_inner
{
	padding-bottom: 50px;
}
.event_layouts .i
{
	margin-top: 3px;
	position: absolute;
}
.event_layouts .header
{
	font-size: large;
	padding-left: 20px;
}
.event_layouts .new_layout_btn
{
	width: 130px;
}
.event_layouts .new_layout_cancel_btn
{
	margin-top: 20px;
	width: 110px;
}
.event_layouts .new_layout_create_btn
{
	margin-top: 20px;
	width: 106px;
}
.event_media
{
	padding-top: 50px;
}
.event_media .i
{
	margin-top: 3px;
	position: absolute;
}
.event_media .header
{
	font-size: large;
	padding-left: 20px;
}
.event_media .youtube_lbl
{
	float: right;
	margin-top: 5px;
}
.event_media .youtube_txt
{
	width: 98%;
}
.event_reservations
{
	padding-top: 50px;
}
.event_reservations .event_reservations_inner
{
	padding-bottom: 50px;
}
.event_reservations .i
{
	margin-top: 3px;
	position: absolute;
}
.event_reservations .header
{
	font-size: large;
	padding-left: 20px;
}
.event_venue
{
	padding-bottom: 100px;
	padding-top: 50px;
}
.event_venue .event_venue_inner
{
	height: 485px;
}
.event_venue .i
{
	margin-top: 3px;
	position: absolute;
}
.event_venue .header
{
	font-size: large;
	padding-left: 20px;
}
.event_venue .map_select
{
	margin-left: 5%;
}
.event_venue .textarea
{
	height: 150px;
	width: 100%;
}
.event_venue .map_area
{
	background-color: Gray;
	height: 300px;
}
.door_sale
{
	padding-bottom: 85px;
}
.door_sale .header
{
	font-size: 24px;
	margin-top:20px;
}
.door_sale .select_event
{
	width: 300px;
}
.door_sale .ticket_option
{
	margin-left: 98px;
}
.door_sale .records
{
	height: 300px;
}
.event_detail
{
	padding-top: 50px;
	 padding-bottom:50px;
}
.event_detail .thumbs .span3
{
    width:56.7px;
}
.event_detail .company_logo
{
	height: 60px;
	width: 250px;
}
.event_detail .other_events_div
{
    height:10px;
}
.event_detail .left_arr
{
    margin-top:-6px;
}
.event_detail .view_other_events
{
    margin-left: -10px;
    margin-top: 8px;
}
.event_detail .media_area
{
    width:299px;
    height:204px;
}
.event_detail .venue_area
{
    background: #F2F2F2; width: 310px;
}
.event_detail .span4 .venue_header
{
    margin-top: 10px;
}
.black-text
{
    color:#707070;
}
.event_detail .hr
{
    margin-top: 0; border-top: 1px solid #B1ADAD;
}
.event_detail
{
    background: #fcfcfc;
}
.event_detail .map_area
{
    margin-left: 10px; margin-top: -10px;
    width: 93%; margin-bottom: 10px;
    height:242px;
}
.event_detail .row-fluid .about_organizer_area
{
    margin-left:40px;
    width:270px;
}
.event_detail .event_area
{
    padding-left: 20px;
}
.event_detail .event_name_header
{
    font-size:24px;
    overflow-x:initial;
}
.event_detail .buy_ticket_btn
{
    margin-right: 8px;
    width: 150px;
    margin-bottom: 20px;
}
.home
{
    width: 100%; height: 100% !important;
    margin-left: -2px; padding-left: 2px;overflow:hidden;
}
.home .carousel
{
    z-index: -1; margin-left: -2px;
}
.home .carousel .img-slide
{
    max-height:1280px;
}
.home .home_inner
{
    *padding-bottom: 30px;
   * margin-top: -500px;
}
.home .home_create_event
{
    position:absolute; margin-top:-690px;
   width: 588px; height: 308px; background: no-repeat center url('../../Static/images/mainlogoabove.png');
}
.home .home_slogan
{
    margin-left:20px;
}
.home .home_slogan_lbl1
{

    position: absolute; color: #fcfcfc; z-index: 2;
    font-size: 34px; margin-top: 152px;
height: 30px;
padding-top: 3px;
}
.home .home_slogan_lbl2
{
    color: #fcfcfc; font-size: 34px; z-index: 2; lighting-color:#FCFCFC;
    position: absolute; margin-left: 20px; margin-top: 163px;
height: 30px;
padding-top: 3px;
}


.home_contact
{
    background: black; height: 40px;margin-top:78px;
}
.home_contact .home_contact_lbl
{
    color: #fcfcfc; font-size: 18px; margin-top: 10px;
}
.home_facilities .facilities_lbl
{
    font-size: 26px; color: #707070;
}
.home_facilities .box_image
{
    width: 170px; 
    height: 170px; 
}
.home_facilities .box_shadow
{
    height: 130px; *box-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
}
.home_facilities .img
{
    margin-top:-23px;
}
.home_facilities .lbl
{
    font-size:17px;
    margin-top:-7px;
}
.home_facilities .img_social
{
    margin-top:-9px;
}
.home_facilities .lbl_social
{
    font-size:17px;
    margin-top:17px;
}
.home_facilities .img_special
{
    margin-top:-18px;
}
.home_facilities .lbl_special
{
    font-size:17px;
    margin-top:-3px;
}
.home_facilities .img_reporting
{
    margin-top:8px;
}
.home_facilities .lbl_reporting
{
    font-size:17px;
    margin-top:28px;
}
.upcoming_events
{
   *background: #fcfcfc;
} 
.upcoming_events .upcoming_events_header
{
    font-size: 22px; margin-left: 5px;
}
.upcoming_events .box_shadow
{
    height: 130px; width: 333px; margin-left: 27px;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, .2);
}
.upcoming_events .event_name
{
    font-size:16px;
    color:#0081c9;
}
.upcoming_events .logo
{
    width:166px;
    height:40px;
    margin-top: 20px;
}
.upcoming_events .venue_name
{
    font-size:14px;
}
.upcoming_events .date_area
{
   background: #323232; height: 51px; margin-left: -19px;
   width: 372px; margin-top: 10px; 
}
.upcoming_events .date_lbl
{
   font-size: 16px; color: #f2f2f2; 
   margin-top: 13px; margin-left: 15px; 
}
.upcoming_events .btn_buy_ticket
{
   width: 109px; margin-top: 9px;
}
.upcoming_events .btn_all_events
{
   width: 299px;
   *background: #F7931E; color: White;
} 
.partnershiph_lbl
{
    font-size: 22px; margin-left: 5px;
}
.partnership .box_shadow
{
    height: 121px; box-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
}
.opinions
{
    *background: #f2f2f2;
}
.opinions .opinions_header
{
    font-size: 22px; margin-left: 5px;
}
.opinions .opinions_area
{
    width: 827px; height: 249px; margin-left: auto; 
    margin-right: auto; margin-bottom: -400px;
}
.opinions .opinions_area .box_shadow
{
    width: 380px; height: 50px;
    box-shadow: none;
    *box-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
}
.opinions .opinions_area .box_shadow .opinion1
{
    margin-top: -7px;
}
.opinions .opinions_area .box_shadow .opinion1 .opinion1_lbl
{
    font-size: 13px;
}
.opinions .opinions_area .opinion_owner
{
    font-size: 13px;
}
.opinions .opinions_area .box_shadow2
{
  width: 380px; height: 50px; margin-left: 444px;
  margin-top: -46px;
  box-shadow: none;
  *box-shadow: 0px 0px 9px rgba(0, 0, 0, .7);  
}
.opinions .opinions_area .box_shadow .opinion2
{
    margin-top: -7px;
}
.opinions .opinions_area .box_shadow .opinion1 .opinion2_lbl
{
    font-size: 13px;
}
.opinions .opinions_area .box_shadow3
{
    width: 380px; height: 50px; margin-top: -41px;
    box-shadow: none;
    *box-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
}
.opinions .opinions_area .box_shadow .opinion3
{
    margin-top: -9px;
}
.opinions .opinions_area .box_shadow .opinion1 .opinion3_lbl
{
    font-size: 13px;
}
.event_payment .company_logo
{
    width: 250px; height: 60px;
}
.event_payment .buyer_info
{
    margin-left:5px;
}
.event_payment .buyer_info_header
{
    font-weight:700;
}
.event_payment .buyer_info_inner
{
    margin-left:15px;
}
.event_payment .buyer_info_inner .captcha_area
{
    margin-left: 125px;
}
.event_payment .note
{
    margin-left: 142px;
}
.event_payment .card_info
{
    margin-left:15px;
}
.event_payment .card_info .month_select
{
    width: 70px; height: 25px;
}
.event_payment .card_info .year_select
{
    width: 95px; height: 25px;
}
.event_payment .card_info .secure3d_area
{
   background-color: #29ABE2; width: 150px;
} 
.event_payment .card_info .secure3d_area .use_3dsecure_lbl
{
    margin-left: 10px; margin-top: 5px;
}
.event_payment .buy_btn
{
    width: 130px;
}
.event_payment .right_area
{
    height: 980px;
}
.payment_approve .successfull_message
{
   margin-left: 140px;
   margin-top:35px;
} 
.payment_approve .span12 .contact
{
    margin-left: -70px;
}
.payment_approve .other_events
{
    margin-left: 140px;
}
.payment_approve .create_event_btn
{
   margin-left: 217px; width:200px;
}
.payment_approve .vertical_events .span4
{
    width:200px;
}
.event_payment_send .company_logo
{
    width: 250px; height: 60px;
}
.event_payment_send .send_option
{
    margin-left:20px;
}
.event_payment_send .sms_or_email_txt
{
    width:65%;
}
.event_payment_send .warning_area
{
   padding-left: 15px;
} 
.event_payment_send .warning_lbl
{
   line-height: 12px;
} 
.event_payment_send .send_btn
{
   *margin-top: 150px;
   width: 130px; 
}
.index_auth
{
    padding-bottom:50px;
}
.index_auth .large_th
{
    width:55%;
}
.discounts
{
    padding-bottom:0px;
}
.discounts .header
{
    font-size: 24px;
    margin-top: 20px;
}
.discounts .thead
{
   background-color: gainsboro;
}
.discounts .header_inner
{
    font-size: 16px;
} 
.discounts .row .benefit_area
{
    margin-left:40px;
}
.discounts .discount_code_txt
{
    width:300px;
}
.discounts .discount_description
{
    margin-left:20px;
}
.discounts .row-fluid .discount_description_inner
{
    margin-top: 6px;
}
.discounts .discount_type_tbl
{
    margin-left:20px;
}
.discounts .discount_type_tbl .vip_td
{
    width:50px;
}
.discounts .discount_type_tbl .student_td
{
    width:80px;
}
.discounts .discount_type_tbl .news_td
{
    width:65px;
}
.discounts .discount_type_tbl .early_td
{
    width:150px;
}
.discounts .row-fluid .discount_amount_type
{
    margin-left:20px;
}
.discounts .row-fluid .over_ticket
{
    width:95px;
}
.discounts .percent_lbl
{
    position:absolute;
}
.discounts .discount_amount_txt
{
    width: 75px; margin-top: -2px; padding-left: 15px;
    margin-left: -4px; padding-right: 25px;
}
.discounts .discount_cont_lbl
{
    margin-left: 33px;
}
.discounts .selects
{
    margin-left:8px;
}
.discounts .dates
{
    margin-left:20px;
}
.discounts .discount_count
{
    margin-left:20px;
}
.discounts .btn_create
{
    float: right; margin-top: 20px;width:100px;
}
.mailblast
{
    padding-bottom: 50px;
}
.mailblast .header
{
    font-size:24px;
    margin-top:20px;
}
.mailblast .select
{
    width:400px;
}
.mailblast .txt
{
    width:500px;
}
.mailblast .btn_send
{
   float: right; margin-right: -15px;
} 
.trackingcodes
{
    margin-top: 25px;
    padding-bottom:50px;
}
.trackingcodes .header
{
    font-size: 24px;
}
.trackingcodes .header_inner
{
    font-size: 16px;
}
.trackingcodes .table .desc_th
{
    width:250px;
}
.trackingcodes .create_code_btn
{
    float: right; margin-right: 64px;
}
.widgets
{
    padding-bottom: 50px;
}
.widgets .header
{
    font-size:24px;
    margin-top:20px;
}
.account_info
{
    padding-bottom: 50px;
}
.account_info .account_info_inner
{
    margin-top: 20px;
}
.account_info .save_btn
{
    width:100px;
}
.bill_info
{
    padding-bottom: 50px;
}
.bill_info .bill_info_inner
{
    margin-top: 20px;
}
.communication_info
{
    padding-bottom: 50px;
}
.communication_info .communication_info_inner
{
    margin-top: 20px;
}
.communication_info .well_inner
{
    width: 103%; margin-left: -10px;
}
.communication_info .hr
{
    width: 653px;
}
.communication_info .email_area
{
  margin-top: -15px; height: 40px;
}  
.communication_info .warning_lbl
{
    margin-top: -10px;
}
.communication_info .address_area
{
  margin-top: -7px; height: 20px;
}  
.communication_info .phone_area
{
  margin-top: -7px; height: 20px;
} 
.communication_info .website_area
{
  margin-top: -7px; height: 20px;
} 
.communication_info .social_area
{
  margin-top: -15px; height: 30px;
} 
.communication_info .twitter_area
{
    height:10px;
}
.organizer
{
    padding-top:50px;  
    padding-bottom:50px;
    background: #fcfcfc;
}
.organizer .company_logo
{
    width: 250px; height: 60px;
}
.organizer .events_area
{
    width: 630px;
}
.organizer .vertical_events .span4
{
    width:200px;
}
.organization_info
{
    padding-bottom:50px;
}
.organization_info .organization_info_inner
{
    margin-top:20px;
}
.organization_info .well_inner
{
    width: 103%; margin-left: -10px;
}
.organization_info .hr
{
    margin-top:0px;
}
.organization_info .organization_name
{
    height:20px;
}
.organization_info .slogan
{
    height:20px;
}
.organization_info .logo
{
    height:20px;
}
.organization_info .organization_name_txt
{
    margin-top: -2px;
}
.organization_info .biletino_lbl
{
    margin-left: 60px;
}
.organization_info .width_txt
{
    width:109%;
}
.organization_info .width_txt_url
{
    width:136%;
}
.organization_info .i_email
{
    position: absolute; 
    margin-left: 640px;
    margin-top: 7px;
}
.organization_info .add_email_btn
{
    width: 80px;
}
.organization_info .save_changes_btn
{
    margin-right: 20px;
}
.user_info
{
    padding-bottom:50px;
}
.user_info .user_info_inner
{
    margin-top: 20px;
}
.user_info .input
{
    width:90%;
}
.user_info .add_user_btn
{
    margin-right:15px;
}
.user_info .table_area
{
    margin-top:15px;
}
.user_info .table_area tbody
{
   background-color: White;
}
.user_info .table_area .btn-danger
{
    width:40px;
    margin-top:1px;
}
.user_info .btnEditRole
{
    margin-top:1px;
}
.about_organizer
{
    width: 100%; margin-left: -40px;
    min-height:305px;
}
.about_organizer .hr
{
    margin-top:0px;
}
.facebook_connect_img
{
   position: absolute; margin-top: 7px; margin-left: 5px;
} 
.footer-outer-big .blog_area
{
  margin-left: 10px; padding-top: 10px;
  width: auto; color: black;  
}
.footer-outer-big .blog_area .blog_p
{
    line-height: 100%; font-size: 12px;
}
.footer-outer-big .biletino_rights
{
    padding-top: 6px;
}
.footer-outer-big .news_header_lbl
{
    padding-top:9px;
}
.footer-outer .href
{
    text-align: center; color: #f2f2f2;
}
.header_fixed
{
    position:fixed;
    z-index:999;
    top:0;
}
.header_fixed .header_fixed_inner
{
    border-radius: 0px; position: relative; background: black;
}
.header_fixed .header_fixed_inner .content
{
    width: 940px; 
    margin:0 auto;
}
.header_fixed .logo_area
{
    margin-left:0px;
}
.header_fixed .img
{
    padding-top: 7px; cursor: pointer;
    width: 106px; height: 26px;
}
.header_fixed .search-query
{
   float: right; padding-left: 30px;
} 
.header_fixed .i_search
{
    position: absolute; margin-left: 34px; margin-top: 16px; z-index: 3;
}
.header_relative
{
   width: 100%; position: relative; z-index: 1;
} 
.header_relative .header_relative_inner
{
        background-image: url('../../Static/images/chalk.png') repeat top left;
        border-radius: 0px; position: relative; padding-top: 42px;
}
.header_relative .header_relative_inner .content
{
    width: 940px;
    margin:0 auto;
}
.header_relative .header_relative_inner .content .btn-toolbar
{
    margin-top: -10px;
}
.header_relative .button
{
    border-radius: 0px;
    font-size:13px;
}
.horizontal_event .img
{
    width:130px;
    height:120px;
}
.home_header
{
    z-index: 999; 
    background-color: White; top: 0;
}
.home_header .home_header_inner
{
    border-radius: 0px; position: relative;
}
.home_header .home_header_inner .content
{
    width: 940px;
    margin:0 auto;
}
.home_header .img_area
{
    margin-left: 0px;
}
.home_header .img
{
    padding-top: 10px;
     width:130px;
     height:30px;
}
.home_header .actions
{
    padding-top: 10px;
}
.home_header .search-query
{
    padding-right: 30px;
}
.home_header .i_search
{
    position: absolute; margin-left: 174px;       margin-top: -20px; z-index: 3;
}
.vertical_event
{
    width:200px;
}
.vertical_event .date_area
{
    width: 200px; background-color: Black; height: 50px;
}
.vertical_event .date_lbl
{
    padding-top: 15px; color: White; text-align: center;
}
.vertical_event .event_inner
{
    width:200px;
}
.vertical_event .event_name
{
    font-size: 14px;
}

.event_reports .header
{
    font-size:24px;
    margin-top:20px;
}
.event_reports .well
{
    height:200px;
}
.reports_table .thead
{
    font-size:13px;
}
.event_reports .well
{
    height:auto;
}
.user_events
{
    padding-bottom:50px;
}
.user_events .header
{
    font-size:24px;
}
.user_events .new_event_btn
{
    float: left; width: 170px;
}
.user_events .event_name_th
{
    width:55%;
}
.forget_password
{
    padding-top:90px;
}
.forget_password .well
{
   margin:0 auto;
   width: 536px;
} 
.forget_password .content
{
    width: 400px; margin-left: 71px;
}
.forget_password .email_txt
{
    width:117%;
}
.user_logon
{
    background: no-repeat center top url('../../Static/images/licensedphotos/3.jpg');
    width: 100%;
    background-size: cover;
}
.user_logon .container
{ 
    margin-top: -90px;
}
.user_logon .welcome
{
   margin-top: 140px;
} 
.user_logon .welcome_lbl
{
    font-size: 88px; text-align: center;
    color: #fcfcfc; text-shadow: 0 0 0.1em rgb(190, 167, 46), 0 0 0.2em #87F, 0 0 0.2em rgb(209, 198, 65);
}
.user_logon .logon
{
    margin-top: 100px; height: auto;
}
.user_logon .logon .logon_inner
{ 
    margin-top: 30px;
} 
.user_logon .logon .logon_inner .desc
{
    height: 76px;
}
.user_logon .twitter_logo
{
    position: absolute; margin-top: 7px;          margin-left: 5px;
}
.user_logon .white-text
{
    margin-top: 16px; width: 307px; margin-left: 316px;
    background-image: linear-gradient(right , rgb(77,12,77) 24%, rgb(189,24,145) 56%);
    background-image: -o-linear-gradient(right , rgb(77,12,77) 24%, rgb(189,24,145) 56%);
    background-image: -moz-linear-gradient(right , rgb(77,12,77) 24%, rgb(189,24,145) 56%);
    background-image: -webkit-linear-gradient(right , rgb(77,12,77) 24%, rgb(189,24,145) 56%);
    background-image: -ms-linear-gradient(right , rgb(77,12,77) 24%, rgb(189,24,145) 56%);
    background-image: -webkit-gradient(
	    linear,
	    right top,
	    left top,
	    color-stop(0.24, rgb(77,12,77)),
	    color-stop(0.56, rgb(189,24,145))
    );
}
.user_organizations
{
    padding-bottom: 50px;
}
.user_organizations .header
{
    font-size: 24px;
} 
.user_organizations .content
{
  height : 300px;  margin-top: 40px; margin-bottom: 40px;
}
.user_profile
{
    padding-top:90px;
    padding-bottom:50px;
}
.user_profile .input_area
{
    width: 647px;
}
.user_signup 
{
    padding-top:90px;
}
.user_signup .content
{
    width: 446px;
    margin:0 auto;
}
.user_signup .input_area
{
    width:443px;
}
.user_signup .user_name_txt
{
    padding-right: 87px;width: 80%;
} 
.user_signup .fill
{
    width:98%;
}  
.user_signup .user_name_constant
{
    float: right; position: absolute; margin-top: -32px; margin-left: 360px;
}
.span_vertical_event
{
    width:200px;
}
textarea
{
    font-size:13px;
} 
.face :hover
{
    background-position: 0 -47px;
    background: url('../../Static/images/facebooklight.png');
}
.twitter :hover
{
    background: url('../../Static/images/twitterlight.png');
}
.google :hover
{
    background: url('../../Static/images/googlelight.png');
}
.youtube :hover
{
    background: url('../../Static/images/youtubelight.png');
}
.alert-success
{
    border-radius:0px;
} 
button 
{
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
}

.cke_dialog_ui_input_text input
    {
        height: 20px;
    }
    div.newTicket input[type="text"]
    {
        height: 18px;
    }
    table.layoutDiscountTable input
    {
        margin-bottom: 0;
        width: 130px;
    }
    
    .table.table-bordered.no-header-border
    {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #DDD;
    }
    
    .table.table-bordered.no-header-border th
    {
        border: 0;
    }
    
    .table.table-bordered.no-header-border tr
    {
        border-top: 1px solid #DDD;
    }
    .table.table-bordered.no-header-border tr:last-child
    {
        border-bottom: 1px solid #DDD;
    }
    .table.table-bordered.no-header-border td
    {
        border-left: 1px solid #DDD;
    }
    .table.table-bordered.no-header-border td:last-child
    {
        border-right: 1px solid #DDD;
    }
    .event_search
    {
        padding-top:35px;
    }
    
    .activeFsq #googleContainer
    {
        display: none;
    }
    
    #googleContainer
    {
        margin-left: 0px;
    }
    .activeGog #foursquareContainer
    {
        display: none;
    }
    .input-validation-error {
border-color: red ;
}
.error_page
{
    width: 100%; text-align: center;
    margin-top:50px;
}
.facebookHref { background: url(../../Static/images/signupwithfacebookbtn.png) no-repeat 0 0; width: 256px; background-size:204px; height: 35px; display: block; text-indent: -9999px; }
.facebookHref:hover { background-position: 0 -35px; }
.facebookHref:active { background-position: 0 -70px; }
.carousel.carousel-fade .item { -webkit-transition: opacity 2s ease-in-out; -moz-transition: opacity 2s ease-in-out; -ms-transition: opacity 2s ease-in-out; -o-transition: opacity 2s ease-in-out; transition: opacity 2s ease-in-out; }
.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right { left: 0; z-index: 2; opacity: 0; filter: alpha(opacity=0); }
.carousel.carousel-fade .next, .carousel.carousel-fade .prev { left: 0; z-index: 1; }
.carousel.carousel-fade .carousel-control { z-index: 3; }
.btn-custom { background-color: hsl(62, 99%, 25%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fe57", endColorstr="#7a7e00"); background-image: -khtml-gradient(linear, left top, left bottom, from(#f8fe57), to(#7a7e00)); background-image: -moz-linear-gradient(top, #f8fe57, #7a7e00); background-image: -ms-linear-gradient(top, #f8fe57, #7a7e00); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8fe57), color-stop(100%, #7a7e00)); background-image: -webkit-linear-gradient(top, #f8fe57, #7a7e00); background-image: -o-linear-gradient(top, #f8fe57, #7a7e00); background-image: linear-gradient(#f8fe57, #7a7e00); border-color: #7a7e00 #7a7e00 hsl(62, 99%, 14.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.69); -webkit-font-smoothing: antialiased; }
hr
{
    background: -webkit-linear-gradient(left, #FFF 0%,rgb(209, 209, 209) 50%,#fff 100%);
    width: 100%;
    height: 1px;
}
input[type="text"], input[type="password"]
{
    font-size:12px;
}
.clear-border
{
    border:none;
}
.tickets-select
{
    width:150px;
}
.error_type_font_size
{
    font-size:60px;
}