/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    background:url('../images/input_bg.gif') repeat-x;
    overflow: hidden;
    border: 1px solid #b3b3b3;
    cursor: text;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    height:auto !important;
    padding:2px 0 0 4px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    border-radius:4px;
}

/*
input, textarea {font-family:Helvetica, sans-serif; font-size:13px; resize:none; outline:none;}

/* UI *********************************************************************/
/* input width will start from -20px *
.input {border:1px solid #b3b3b3; font-family:Helvetica, sans-serif; font-size:13px; padding:9px; border-radius:4px; background:url('../images/input_bg.gif') repeat-x; color:#434343;}
.input:hover {border:1px solid #30adf5;}
.input:focus {border:1px solid #30adf5; box-shadow:0 0 5px #c2e3f4;}
.disabled_input {background:#ececec; box-shadow:0 1px 2px #CCC inset; cursor:default; color:#616161;}
.disabled_input:hover {border:1px solid #b3b3b3;}
.disabled_input:focus {border:1px solid #b3b3b3;}
*/


.token-input-delete-token-facebook {
   width:15px;
   height:16px;
   display:block;
   background:url('../images/input_token_close_button.png') no-repeat;
   overflow:hidden;
   text-indent:-99999px;
   position:absolute; top:4px; right:10px;
}
.token-input-delete-token-facebook:hover {background-position:-15px 0;}

ul.token-input-list-facebook li input {
    font-family:Helvetica, sans-serif;
    padding:0;
    margin: 2px 0;
    -webkit-appearance: caret;
    padding:5px 6px;
}

li.token-input-token-facebook {
    
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 4px 35px 4px 10px;
    background-color: #daeaf6;
    color: #4b7999;
    cursor: default;
    font-size: 12px;
    border-radius: 4px;
    float: left;
    white-space: nowrap;
    position:relative;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #aacce5;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 498px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top:none;
    cursor: default;
    font-size: 12px;
    z-index: 10000;
    border-radius:0 0 4px 4px;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 10px 10px;
    font-weight: bold;
    color: #999;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 7px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #7c9cb5;
    color: #fff;
    cursor:pointer;
}