#ui-datepicker-div {width:239px; border-radius:4px; border:1px solid #000001; background:#4c4c4c; margin-top: 4px; box-shadow: inset 0 0 2px white;display: none;}
.ui-datepicker-inline {border:1px solid #797979; border-radius:4px; }
 
.ui-datepicker-header {padding-top: 8px;}
.ui-datepicker-prev {width:26px; height:28px; float:left; background:url('../images/date_arrows.png') no-repeat; display:block; overflow:hidden; text-indent:-9999px; cursor:pointer; margin-left:10px;}
.ui-datepicker-next {width:26px; height:28px; float:right; background:url('../images/date_arrows.png') no-repeat -26px 0; display:block; overflow:hidden; text-indent:-9999px; cursor:pointer; margin-right:10px;}
.ui-datepicker-title {float:left; color:#FFF; font-size:14px; font-weight:700; text-align:center; text-shadow:0 -1px #3f3f3f; width:165px; padding:5px 0 13px 0;}

.ui-datepicker-calendar {background:#ffffff; width:95%; margin:0 auto 5px auto; border-radius:4px;}
.ui-datepicker-calendar thead th {color:#9e9e9e; font-size:12px; padding:4px 0 0 0; width:20px; text-align:center;}
.ui-datepicker-calendar tbody td {width:20px; text-align:center;}
.ui-datepicker-calendar tbody td a {display:block; padding:4px 0; border-radius:4px; font-weight:700; font-size:12px; text-align:center; background:#f1f1f1; color:#2b2b2b; text-decoration:none;}
.ui-datepicker-calendar tbody td a:hover {background:url('../images/day_hover.png') repeat-x; color:#FFF;}

.ui-datepicker-today a {background:#dcdcdc !important; color:#838383 !important;}

.ui-datepicker-current-day a {background:#dcdcdc; color:#838383;}

.ui-datepicker-unselectable {background:#f8f8f8; border-radius:4px;}

.ui-state-active {background:url('../images/day_hover.png') repeat-x !important; color:#FFF !important;}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}