﻿@{
    FooterType footerType = Html.GetFooterType();
    HeaderType headerType = Html.GetHeaderType();
    String bodyID = "body";
    if (footerType == FooterType.Big && headerType == HeaderType.MainPage)
    {
        bodyID = "body-main-page";
    }
    PageType pageType = Html.GetPageType();
}

<!DOCTYPE html>
<html>
<head>
@if (pageType == PageType.Normal)
{
    @Html.Partial("StaticLayout")
}
</head>
<body>
    <div class="wrap">
        <div id="@bodyID" class="bodyWrap">
            @RenderBody()
        </div>
    </div>
</body>
</html>