﻿@using KulturASWidget.Common;
@using KulturASWidget.Resources;
@{
    string description = Html.GetMetaDescription();
    string title = Html.GetMetaTitle();
    string keywords = Html.GetMetaKeywords();
    string imageURl = Html.GetMetaImageUrl();
    string pageScriptURL = Url.Content(String.Format("~/Static/js/{0}/{1}.js", ViewContext.Controller.ValueProvider.GetValue("controller").RawValue, ViewContext.Controller.ValueProvider.GetValue("action").RawValue));
    string currentPageURL = Request.Url.AbsoluteUri;
}
<title>@title</title>
<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="description" content="@description.ConvertToEnglishChars())"/>
<meta name="keywords" content="@keywords.ConvertToEnglishChars()" />
<meta property="og:title" content="@title"/>
<meta property="og:image" content="@imageURl"/>
<meta property="og:description" content="@description"/>
<meta property="og:url" content="@currentPageURL" />
<meta property="fb:admins" content="@KulturASWidget.Common.ApplicationConfiguration.FacebookAdminIDs" />
<meta property="fb:app_id" content="@KulturASWidget.Common.ApplicationConfiguration.FacebookAppID" />
@*js files*@
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
    type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery-1.8.3.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery.timepicker.min.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery.placeholder.1.3.min.js")" type="text/javascript" ></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery.fancybox.pack.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery.Jcrop.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/bootstrap.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/placeHolder.js")" type="text/javascript"></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/ckeditor/ckeditor.js")" type="text/javascript" ></script>
<script src="@Url.ContentWithCacheBuster("~/Static/js/main.js")" type="text/javascript"></script>
<script src="@pageScriptURL" type="text/javascript"></script>
@*js files*@ @*css files*@
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/styleadditions.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/jquery.timepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/jquery.ui.slider.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/demo_table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/jq.selectbox.css")" rel="stylesheet" type="text/css"  media="screen" />
<link href="@Url.ContentWithCacheBuster("~/Static/css/datepicker_black.css")" rel="stylesheet" type="text/css" />
@*css files*@
<link rel="apple-touch-icon" href="@Url.ContentWithCacheBuster("~/Static/images/appleTouch/touch-icon-iphone.png")" />
<link rel="apple-touch-icon" sizes="72x72" href="@Url.ContentWithCacheBuster("~/Static/images/appleTouch/touch-icon-ipad.png")" />
<link rel="apple-touch-icon" sizes="114x114" href="@Url.ContentWithCacheBuster("~/Static/images/appleTouch/touch-icon-iphone4.png")" />
<script>
    @if (ApplicationConfiguration.IsDevelopment)
    {
       <text> var appRoot = "http://" +document.domain + ":4088";</text>
    }
    else
    {
      <text>  var appRoot = "http://" + document.domain; </text>
    }
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '@KulturASWidget.Common.ApplicationConfiguration.GoogleAnalyticsID']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
</script>
<script>
    $(function () {
        utils.init();
        setTimeout(function () {
            $("#ui-datepicker-div").hide();
        }, 500)

    });
</script>
@if (Html.GetHeaderType() == HeaderType.Normal)
{
    <script type="text/jscript">
        $(function () {
            var fixedHeaderHeight = $(".navbar").height();
            $("#body").find("div:first").css("padding-top", (fixedHeaderHeight + 10) + "px");
        });
    </script>
}
@{
    bool noFeedback = ViewBag.NoFeedback == null ? false : ViewBag.NoFeedback == true;
}
@if (!noFeedback)
{
    <script type="text/javascript" src="https://taglon.atlassian.net/s/en_US-nex7qu-418945332/6020/26/1.3.2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=98065493">
    </script>
}