/* default */
body {font-family:Helvetica, sans-serif; font-size:12px; background:#FFF; overflow-y:scroll;}
* {margin:0px; padding:0px; list-style:none; outline:none; border:none; text-decoration:none;}
/* default */

/* clear */
.clear:before,
.clear:after {content:"."; display:block; height:0; overflow:hidden;}
.clear:after {clear: both;}
.clear {zoom: 1;}
/* clear */

a:link, a:visited, a:active {color:#006dc0;}
a:hover {color:#006dc0;}

select {border:1px solid #BBB; line-height:28px; height:35px; vertical-align:middle; padding:4px; border-radius:3px;}

input, textarea {font-family:Helvetica, sans-serif; font-size:13px; resize:none; outline:none;}

/* UI *********************************************************************/
/* input width will start from -20px */
.input {border:1px solid #b3b3b3; font-family:Helvetica, sans-serif; font-size:13px; padding:9px; border-radius:4px; background:url('../images/input_bg.gif') repeat-x; color:#434343;}
.input:hover {border:1px solid #30adf5;}
.input:focus {border:1px solid #30adf5; box-shadow:0 0 5px #c2e3f4;}

.table {
	width: 100%;
}
.table select {border:1px solid #BBB; line-height:18px; height:25px; vertical-align:middle; padding:4px; border-radius:3px;}
.table thead tr th {
	background: #c3162c;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	border-bottom: 2px solid #770614;
}
.table tbody tr td {
	padding: 10px;
}
.table tbody tr td.middle, .table thead tr th.middle {
	width: 100px;
	text-align: center;
}
.table tbody tr td.middle select, .table thead tr th.middle select {
	width: 90px;
}
.table tbody tr td{
	border-bottom: 1px solid #e6e6e6;
}
.table tbody tr.dark td{
	background: #f5f5f5;
}
.table tbody tr.yellow td{
	background: #fcffe5;
	font-weight: bold;
	color: #000;
}
.logo {
	padding: 10px;
	float: left;
	width: 200px;
	overflow: hidden;
	padding-top: 20px;
}
.logo a {
	padding: 3px 5px;
	border-radius: 3px;
	background: #eee;
	color: #999;
	display: block;
	float: left;
}
.buttons {
	padding: 10px;
	float: right;
	width: 200px;
}
.buttons button {
	padding: 10px 15px;
	border-radius: 3px;
	background: #c3162c;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
}
.buttons button.next {
	float: right;
}
.buttons button.back {
	background: #666;
}
.tab1 .etabs { margin: 0; padding: 5px; float: left;width: 200px; }
.tab1 .tab { }
.tab1 .tab a { font-size: 14px; padding: 5px 2px; display: block; border-radius: 3px;width: 140px; text-align: center; line-height: 24px; color: #666; border: 1px solid #ddd; float: left; margin-bottom: 10px;position: relative;
}
.tab1 .tab a span { display: block; }
.tab1 .tab a:hover { text-decoration: underline; }
.tab1 .tab.active {background: #eee;}
.tab1 .conti {float: left;margin: 5px;
}
.tab1 .tab a .ok { display: none; }
.tab1 .tab a.active { background: #eee !important; }
.tab1 .tab a.active .ok { width: 20px; height: 57px; background: url('../images/arrow.png') no-repeat left top;display: block;position: absolute;right: -20px;top: 20px; }
.tab1 .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }



.tab2 .etabs { margin: 0; padding: 5px; overflow: hidden; height: 125px;}
.tab2 .tab { }
.tab2 .tab a { font-size: 14px; padding: 5px 0; display: block; border-radius: 3px;width: 23%; text-align: center; line-height: 24px; color: #666; border: 1px solid #ddd; float: left; margin-right: 10px;position: relative;
}
.tab2 .tab a span { display: block; }
.tab2.tab a:hover { text-decoration: underline; }
.tab .active {background: #eee;}
.tab2 .conti {
}
.tab2 .tab a .ok { display: none; }
.tab2 .tab a.active { background: #eee !important; }
.tab2 .tab a.active .ok { width: 57px; height: 20px; background: url('../images/arrow_2.png') no-repeat left top;display: block;position: absolute;left: 40%;bottom: -20px; }
.tab2 .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }



.main_form_area {}
.main_form_area input {background-color:#FFF; width:300px;}

.main_form_area .form_block {margin-bottom:7px;}
.main_form_area .form_block .label {float:left; width:135px; color:#4d4d4d; font-weight:700; height:35px; line-height:35px;}
.main_form_area .form_block .inp {float:left;}
.main_form_area .form_block .select {float:left;}
.main_form_area .cvv_block input {width:100px;}
.main_form_area .exp_block select {width:80px;}
.main_form_area .last {margin-bottom:0;}


.validation_message {width:100%;}
.validation_message p {background:#d83536; border-radius:4px; padding:10px; color:#FFF; font-weight:700; margin-bottom:10px;}
.validation_message .valid {background:#419000;}
.validation_message .compvalid {background:#da8b00;}

.price_area {padding-bottom:6px; position:relative;}
.price_area .txt {float:left; color:#8b8b8b; font-size:13px; font-weight:700; padding-top:5px;}
.price_area .price {float:left; background:#fffbe1; border:1px solid #c4c39e; margin-left:5px; border-radius:4px; padding-right:10px; cursor:pointer; box-shadow:0 1px 3px #CDCDCD}
.price_area .price p {padding:3px 10px; border-top:1px solid #fffef7; border-radius:4px; color:#4d4d4d; font-weight:700; padding-right:14px; font-size:13px; background:url('../images/info_icon.png') no-repeat right 4px;}
.price_area .txt2 {float:left; color:#8b8b8b; font-size:13px; font-weight:700; padding-top:5px; padding-left:5px;}

.price_area .price_info {position:absolute; border:1px solid #c4c39e; background:#fffbe1; width:274px; top: 0; left:238px; border-radius:4px; display:none;}
.price_area .price_info .first {border-radius:4px 4px 0 0;}
.price_area .price_info .price_block {border-top:1px solid #fffef7; border-bottom:1px solid #e1debf;}
.price_area .price_info .price_block .label {float:left; height: 30px; line-height: 30px; color:#6f6f6f; padding-left:20px;}
.price_area .price_info .price_block .pr {float:right; height: 30px; line-height: 30px; color:#6f6f6f; background:url('../images/tl_icon2.png') no-repeat 0 13px; padding-right:20px; padding-left:18px; font-size:16px; font-weight:700;}
.price_area .price_info .price_block .amount {background:none;}

.price_area .price_info .total_block {border-bottom:none; background:#f6f2cf;}
.price_area .price_info .arrow {width:9px; height:13px; position:absolute; background:url('../images/info_bar_arrow_left.png') no-repeat; display:block; top: 5px; left:-9px;}

.ticket_form {padding: 10px 30px; display:none;}
.ticket_form h3 {color:#434343; padding-bottom:10px; font-size:12px;}
.ticket_form p {color:#8b8b8b;}

.ticket_form .input_area {padding-top:20px;}
.ticket_form .input_block {margin-bottom:20px;}
.ticket_form .input_area input {background:#FFF; width: 70%; float:left; margin-right: 21px;}
.ticket_form .input_area select {float:left; width: 30%;  margin-right: 21px; height:37px;}
.ticket_form .input_area .last_input {margin-right:0;}

.ticket_form .hidden_info_bar {display:none;}
.ticket_form .hidden_info_bar h3 {padding-bottom:0; font-size:16px; padding-top:8px;}
.ticket_form .hidden_info_bar .input_area {padding-top:10px;}

.ticket_form .info_bar {border:1px solid #c4c39e; background:url('../images/yellow_bar_bg_x.gif') bottom left; color:#6f6f6f;}
.ticket_form .inner_info_bar {border-top:1px solid #FFF; padding:10px;}
.ticket_form .inner_info_bar a {font-weight:700; color:#2463c8;}
.ticket_form .inner_info_bar span {padding-left:10px; color:#777776;}

.blue_label {width: 132px;padding: 10px 15px;border-radius: 6px;background: #E5F0F8;font-weight: bold;color: #10486D;border: 2px solid #fff;display: block; }
.blue_label input {width:auto !important;margin-right: 5px; }
