h3
{
	color: #fff;
	font-size:24px;
}
.icerikbanner{
font-size:12px;
}
.content p.linkage
{
	margin-top: 2em;
	text-align: right;
	font-size: 12px;
	color: #ddd;
}

.content p.linkage a { color: #fff; }

/*.content p.linkage a
{
	color: #fff;
	background: url('../images/bg/biglink_off.gif') center right no-repeat;
	padding: 10px 20px;
	text-decoration: none;
}

.content p.linkage a:hover
{
	background: url('../images/bg/biglink_on.gif') center right no-repeat;
	font-style: italic;
}*/

#myGallery
{
	text-align: left;
	margin: 0 auto;
}